<h4>Colors</h4>
<section id="color-picker" style="width: 200px;">
    <label>
        Color
        <input @bind="CurrentColor"/>
    </label>
    
    <button class="btn btn-primary" @onclick="@(async e => await ColorValueChanged.InvokeAsync(CurrentColor))">Set Color</button>
</section>

@code {
    [Parameter]
    public string CurrentColor { get; set; } = "#ff0000";

    [Parameter]
    public EventCallback<string> ColorValueChanged { get; set; }
}