@page "/start"
@using DrawTogether.UI.Client.Services
@inject NavigationManager navigationManager
@inject IPaintSessionGenerator sessionGenerator

<h1>Launch Paint</h1>

<p>TODO: add set of active paint sessions here</p>

<button class="btn btn-primary" @onclick="IncrementCount">Launch New Session</button>

@code {

    private void IncrementCount()
    {
        var sessionId = sessionGenerator.CreateNewSession();
        navigationManager.NavigateTo($"/paint/{sessionId}");
    }

}
