@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.FindFirst(ClaimTypes.Name)?.Value</h1>
    </Authorized>
</AuthorizeView>

@code{
    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();
    }

}